/* align text center page */
.App {
  text-align: center;
}

/* app header elements */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #EA4C89;
}



/* reset defaults */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* set container attributes for standard box sizing */
.container {
  padding: 10px 30px;
  margin: auto;
  height: auto;
}

/* flex column essential */
.wrong-letters {
  flex-direction: column;
  height: 20px;
  padding: 30px;
}

.guesses {
  padding: 40px;
  display: inline-block;
}

.popup {
  margin-top: 100px;
}

.popup button {
  background-color: #0095f8;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  border-style: none;
  color: #FFFFFF;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 40px;
  padding: 10px 20px;
  text-decoration: none;
  transition: color 100ms;
}

.popup button:hover{
  background-color: #a50442;
}

.word {
  margin: 10px;
  padding: 10px;
  display: inline-flex;
} 

.letter {
  border-bottom: 3px solid #0095f8;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.uL {
  list-style-type: none;
} 

.hyperlink {
  text-decoration: none;
}

.instructions-header {
  margin-top: 50px;
  margin-bottom: 15px;
}
.instructions {
  font-weight: 700;
}

